doctype 5
html
  head
    title= title
    
    link(rel='stylesheet', href='//bootswatch.com/united/bootstrap.min.css')
    link(rel='stylesheet', href='//bootswatch.com/default/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//bootswatch.com/css/font-awesome.min.css')
    link(rel='stylesheet', href='//bootswatch.com/css/bootswatch.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src= "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(type='text/javascript', src= "/js/jquery-ui.js")
    script(type='text/javascript', src= "/js/tabs.js")
    
    block javascript
    
  body
  
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar.collapsed 
          a.brand(href="/") HackathonCLT
          ul.nav
            li
              a(href='/heatmaps') Heatmaps
            li
              a(href="/graphs") Graphs
            li
              a(href="/scatters") Scatter Plots
                  
    div.container
      
      block breadcrumb
      
      h1= title
      
      block content
    
    hr
    
    footer.container
      div.row
        div.span4
       
        div.span4
        
        div.span4