extends layout

block content
  h1= title

  div.controls-wrap
    div.slider-wrap
      span.slider-title opacity
      div#slider-opacity.slider
      span#display-opacity.slider-display 0.9
    
    div.slider-wrap
      span.slider-title maxIntensity
      div#slider-maxIntensity.slider 
      span#display-maxIntensity.slider-display 100
    
    div.slider-wrap
      span.slider-title radius
      div#slider-radius.slider 
      span#display-radius.slider-display 10
  
  div#map-canvas
  
   script(type='text/javascript')
      var customers =!{JSON.stringify(locals.customers)}
      var stores =!{JSON.stringify(locals.stores)}
  
  script(type="text/javascript", src= "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
  script(type='text/javascript', src= "/js/map-customers.js")
  script(type='text/javascript')
    $(function() {
      $( "#slider-opacity" ).slider({
        orientation: "vertical",
        range: "min",
        min: 0,
        max: 100,
        value: 90,
        slide: function (event, ui) {
          $("#display-opacity").text(ui.value / 100);
        },
        stop: function( event, ui) {
          newOpacity = ui.value / 100;
          heatmap.setOptions({opacity: newOpacity});
        }
      });
      
      $( "#slider-maxIntensity" ).slider({
        orientation: "vertical",
        range: "min",
        min: 1,
        max: 500,
        value: 100,
        slide: function (event, ui) {
          $("#display-maxIntensity").text(ui.value);
        },
        stop: function( event, ui) {
          newVal = ui.value;
          heatmap.setOptions({maxIntensity: newVal});
        }
      });
      
      $( "#slider-radius" ).slider({
        orientation: "vertical",
        range: "min",
        min: 1,
        max: 20,
        value: 10,
        slide: function (event, ui) {
          $("#display-radius").text(ui.value);
        },
        stop: function( event, ui) {
          newVal = ui.value;
          heatmap.setOptions({radius: newVal});
        }
      });
    });