extends layout

block content
  div.container
    header.jumbotron.subhead
      div.row
        div.span6
          h1 Hackathon CLT
          p A big data visualizer
          
        div.span12
          
          div.row
            div.span2
            div.span4
              img(src="/images/bigdata.png",style="margin:10px; border: 5px solid #f5f5f5;")
            div.span4
              blockquote(style="margin-top:60px;") 
                p Someone suggested it was a Star Trek fan porn title, and now that's all I can think of when I hear the phrase 
                  h3(style="font-style:italic") "Big Data"
                p.text-right
                  a(href="https://twitter.com/jmspool/status/332903174316900353", target="_blank") - @jmspool (Jim Spool)
            div.span2
   
     