extends landing

block content
  div.container
    div.row
      div.span3.column
      div.span6.column
        h1=title
        table.table.table-bordered.table-striped.mhh-landing-table
          tr
            td 
            td Store #1
            td Store #2
            td Store #3
            td Store #4
            td Store #5
            td All Stores
          tr
            td Beer
            td 
              a(href="graph/store/1/segment/beer") X
            td
              a(href="graph/store/2/segment/beer") X
            td
              a(href="graph/store/3/segment/beer") X
            td
              a(href="graph/store/4/segment/beer") X
            td
              a(href="graph/store/5/segment/beer") X
            td
              a(href="graph/store/all/segment/beer") X    
              
          tr
            td Wine
            td 
              a(href="graph/store/1/segment/wine") X
            td
              a(href="graph/store/2/segment/wine") X
            td
              a(href="graph/store/3/segment/wine") X
            td
              a(href="graph/store/4/segment/wine") X
            td
              a(href="graph/store/5/segment/wine") X
            td
              a(href="graph/store/all/segment/wine") X  
              
          tr
            td Deli
            td 
              a(href="graph/store/1/segment/deli") X
            td
              a(href="graph/store/2/segment/deli") X
            td
              a(href="graph/store/3/segment/deli") X
            td
              a(href="graph/store/4/segment/deli") X
            td
              a(href="graph/store/5/segment/deli") X
            td
              a(href="graph/store/all/segment/deli") X    
              
          tr
            td Bakery
            td 
              a(href="graph/store/1/segment/bakery") X
            td
              a(href="graph/store/2/segment/bakery") X
            td
              a(href="graph/store/3/segment/bakery") X
            td
              a(href="graph/store/4/segment/bakery") X
            td
              a(href="graph/store/5/segment/bakery") X
            td
              a(href="graph/store/all/segment/bakery") X  
              
          tr
            td All Segments
            td 
              a(href="graph/store/1/segment/all") X
            td
              a(href="graph/store/2/segment/all") X
            td
              a(href="graph/store/3/segment/all") X
            td
              a(href="graph/store/4/segment/all") X
            td
              a(href="graph/store/5/segment/all") X
            td
              a(href="graph/store/all/segment/all") X     