body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 90px;
}

#map-canvas {
  height: 600px;
}

.controls-wrap {
  height: 155px;
  display: none;
}

.slider-wrap {
  float: left;
  width: 120px;
  text-align: center;
}

.slider {
  margin: 0 auto;
  height: 100px;
}

.slider-display {
  margin-top : 10px;
  display: block;
}

.ui-widget-header {
  border: none !important;
  background: #d44413 !important;
}

.gmnoprint {
  display: none;
}

.navbar .brand {
  padding: 9px 20px 8px;
}

.img-loading {
  position: absolute;
  left: 50%;
  margin-left: -64px;
  top: 50%;
  margin-top: -8px;
}

.controls-toggle {
  margin: 4px 0;
}

.icon-cog {
  margin-left: 10px;
}